body {
  background-color: black;
  color: white
}

.video {
  border: red 2px solid;
  padding: 10px;
}

.video_container {
  display: flex;
  justify-content: space-evenly;
}

#inventory_label {
  display: flex;
  justify-content: center;
}

#neckflix_label {
  color: red;
  font-family: Arial, Helvetica, sans-serif;

}

.center {
  display: flex;
  justify-content: center;
}

.details_panel {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 1100px;
}

.title_rating {
  display: flex;
}

.poster {
    width: 350px;
    height: 400px;
}
.posterTitle {
  display: flex;
  justify-content: center;

}

.posterdescription {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#selectedPoster {
  height: 300px;
}

.center {
  display:flex;
  justify-content: center;
}


button {
  max-width: 100px;
  margin: 10px;

}

.buttondiv {
  display: flex;
  flex-direction: column-reverse;
  padding: 3px;
}
.description {
  max-width: 350px;
  text-align: center;
}

hr {
  margin: 20px;
}

.video_container {

  padding-bottom: 5px;
}
.video_item {

  padding: 5px;
}
